

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.revoke-button {
  margin-top: 20px;
}

.withdrawn {
  color: #f44336;
}

.deposited {
  color: #4caf50;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-bar {
  width: 300;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  display: flex;
  gap: 10px;
}


